<div class="container-view">

  <app-navigation></app-navigation>

  <div class="main-view">
    <br>
    <div class="item-view favorites">
      <h2>Favorites</h2>

    </div>

    <div class="item-view current">
      <h2>Current</h2>
      <app-coin-card [data]="this.data" (addToFavorites)="this.addToFavorites($event)"
        (removeFromFavorites)="this.removeFromFavorites($event)"></app-coin-card>

    </div>

    <div class="item-view others">
      <h2>Others</h2>

    </div>

  </div>

</div>
